<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>


<body>
	<h1>Teretulemasi kyssäri keneraattori!</h1>
	
		  <form action="#" th:action="@{/save}" th:object="${question}" method="post"> 
	  <h3 id="cusinf">Create a new question</h3>
	  <label for="deplist"></label>
	  
	  <select class="custom-select" th:field="*{survey}">
		<option th:each="Survey: ${allSurveys}"
		th:value="${Survey.id}"
		th:text="${Survey.topic}">
		</option>
 		 </select>
 		 </br></br>
 		 
	  <div th:each="InputType: ${loopValue}">
 			<select class="custom-select" th:field="*{inputTypes}">
		<option th:each="InputType: ${inputs}"
		th:value="${InputType.type}"
		th:text="${InputType.typename}">
		</option>
 		 </select>	
 		 <input class="custom-select" type="text" th:field="*{questions}"/>
		</div>
 		 <p><input id="save" class="custom-select" type="submit" value="Submit" th:value="Save"/>
 		
    </form>
    
</body>
<script>
</script>

</html>