<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Surveys</title>
        <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1>Survey list</h1>

        <ul>
            <li th:each="survey : ${surveys}">
                <a th:href="@{/admin/surveys/{id}(id=${survey.id})}">
                    <span th:text="${survey.subject}">Topic</span>
                </a>
            </li>
        </ul>

        <h1>Add an survey</h1>

        <form th:action="@{/admin/surveys}" method="POST">
            <p>Subject: <input name="subject"></input></p>
            <input type="submit" value="Add"></input>
        </form>

    </body>
</html>